/* body {
  margin: 0;
  font-family: Open Sans, Arial, san-serif;
  overflow-x: hidden;
}

body::after {
  content: url(https://github.com/netology-code/html-2-diploma/raw/master/sources/NOEMI_Modern.jpg);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}*/

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

body {
  background-color: white;
  margin: 0;
  font-family: OpenSans;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.welcome {
  /*height: 450px;*/
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  /*   background-repeat: no-repeat; */
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-bottom: 128px;
}

.welcome::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.menu-header {
  display: flex;
  width: 1170px;
  position: relative;
  z-index: 999;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}
.noemi-logo {
  width: 179px;
  height: 40px;
}

.menu {
  padding: 0;
  margin: 0;
  /*color: white;*/
}

.menu-list-item {
  display: inline-flex;
  text-transform: uppercase;
}

.menu-list-item:nth-child(n + 2) {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 38px;
}

a {
  text-decoration: none;
}

.welcome a {
  color: white;
}

.welcome-description {
  margin-left: auto;
  margin-right: auto;
  width: 735px;
  position: relative;
  z-index: 999;
  padding-top: 104px;
  text-align: center;
}

.welcome-description h1 {
  margin: 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 73px;
}

main {
  /*   display: flex; */
  margin-top: 56px;
  /*     align-content: start; */
}

.main-block {
  display: flex;
  /*box-sizing: border-box;*/
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*   align-items: start; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.news-column {
  /*display: flex;*/
  /*box-sizing: border-box;*/
  width: 778px;
  margin-bottom: 58px;
  /*flex-wrap: wrap;*/
}

.article {
  display: flex;
  /*flex-wrap: wrap;*/
}

.news-column article:nth-child(n + 2) {
  margin-top: 56px;
}

.picture-column {
  /*display: flex;*/
  /*   box-sizing: border-box; */
  /*   width: 381px; */
  /*height: 293px;*/
  /*   margin: 0; */
}

.news-description {
  /*display: flex;*/
  /*   flex-wrap: wrap;
  align-content: start;
  box-sizing: border-box; */
  width: 367px;
  padding-left: 30px;
}

.article-type {
  /*   display: inline-flex; */
  flex-wrap: wrap;
  box-sizing: content-box;
  font-weight: 700;
  color: #b59f5b;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.article-type li {
  display: inline-flex;
  box-sizing: content-box;
  padding-right: 20px;
  margin: 0;
}

.article-title h2 {
  margin: 0;
  line-height: 24px;
}
.article-title h2 a {
  font-weight: 700;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.date-author-article {
  display: flex;
  /*box-sizing: content-box;*/
  margin-top: 27px;
}

time {
  /*display: flex;*/
  flex-wrap: nowrap;
  /*box-sizing: content-box;
  margin: 0;
  padding: 0;*/
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.date-author-article p {
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  margin: 0 0 0 15px;
}

.article-context p {
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
  margin: 48px 0 0 0;
}

.right-column {
  /*display: flex;*/
  /*   flex-direction: column; */
  /*   box-sizing: border-box; */
  width: 272px;
  margin: 0 0 58px 120px;
  /*   align-self: start; */
}

.recent-posts {
  /*display: flex;*/
  /*   flex-direction: column; */
}

.recent-posts-top-title {
  /*display: flex;*/
}

.recent-posts-top-title p {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  justify-content: center;
}

.title-label-column:after {
  content: "";
  background-color: #e1d9bd;
  display: flex;
  /*   box-sizing: border-box; */
  width: 66px;
  height: 3px;
  margin: 14px auto 6px auto;
  /*display: flex;*/
}

/*.recent-posts-top-bar {
  display: flex;
  box-sizing: border-box;
  width: 66px;
  height: 3px;
  background-color: white;
  margin: 14px auto 30px auto;
}*/

/*.title-label-column:hover .recent-posts-top-bar {
  background-color: #e1d9bd;
}*/

.article-link {
  display: flex;
  /*   justify-content: start; */
  align-items: top;
  /*   flex-wrap: nowrap; */
}

.article-link:nth-child(n + 2) {
  /*   display: flex; */
  margin: 22px 0 0 0;
}

.article-link-image img {
  display: flex;
  box-sizing: border-box;
  width: 70px;
  /*height: 81px;
  margin: 0;*/
  justify-content: start;
}

.article-link-content {
  display: flex;
  flex-wrap: wrap;
  /*   box-sizing: content-box; */
  align-self: start;
  /*   width: 191px; */
  margin: 0 0 0 18px;
}

.article-link-content h2 {
  margin: 0;
  line-height: 13px;
}

.article-link-content h2 a {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.search-section {
  display: inline-flex;
  margin: 60px 0 0 0;
}

.search-field {
  box-sizing: border-box;
  border: 0;
  height: 48px;
  width: 223px;
  padding: 18px 20px 18px 20px;
  margin: 0;
  /*   display: inline-block;
  vertical-align: middle; */
  font-size: 13px;
  font-weight: 400;
  color: #939594;
  background-color: #f4f7f6;
}

.search-field {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-button {
  /*   display: flex;
  box-sizing: border-box; */
  height: 48px;
  width: 49px;
  border: 0;
  background-color: #b59f5b;
  /*   position: relative; */
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  /*   z-index: 99; */
  /*margin: auto;*/
  background-position: center center;
  cursor: pointer;
}

.search-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*
.search-button img {
  display: flex;
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  z-index: 99;
  position: sticky;
  margin: auto;
}
*/

.subscribing-block {
  margin: 60px 0 0 0;
}

.subscribing-button-block {
  /*   display: flex;
  flex-wrap: wrap; */
  margin: 22px 0 0 0;
}

.subscribing-input {
  /*   display: flex; */
  box-sizing: border-box;
  height: 48px;
  width: 272px;
  border: 0;
  padding: 18px 20px 18px 20px;
  margin: 0;
  /*   vertical-align: middle; */
  font-size: 13px;
  font-weight: 400;
  color: #939594;
  background-color: #f4f7f6;
}

.subscribing-button {
  /*   display: flex;
  box-sizing: border-box; */
  height: 48px;
  width: 272px;
  border: 0;
  background-color: #b59f5b;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  /*   justify-content: center; */
  margin: 18px 0 0 0;
  cursor: pointer;
  /*   align-items: center; */
  /*   align-items: center; */
}

.subscribing-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tags {
  margin: 52px 0 0 0;
}

.tags-list {
  margin: 20px 0 0 0;
  padding: 0;
}

.tags-list-item {
  display: inline-flex;
  /*   box-sizing: content-box;
  flex-wrap: wrap; */
  padding: 7px 13px 7px 13px;
  margin-bottom: 5px;
  border: 1px solid #eeeeee;
}

.tags-list a:nth-child(3n + 2) {
  margin-right: 5px;
  margin-left: 5px;
}

.tags-list-item a {
  font-weight: 700;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.tags-list li {
  cursor: pointer;
}

.categories-list {
  margin: 48px 0 0 0;
}

.categories-block {
  padding: 0;
  margin: 0;
}

.categories-list-item {
  display: flex;
  border-bottom: 0.5px solid #eeeeee;
}

.categories-list-item a {
  font-weight: 700;
  font-size: 14px;
  color: black;
  text-decoration: none;
  align-self: center;
  padding-left: 2px;
}

.categories-list-item span {
  font-weight: 700;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
  padding: 10px 0 19px 6px;
}

.footer-block {
  /*   display: flex; */
  box-sizing: border-box;
  flex-wrap: wrap;
  /*height: 83px;*/
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /*   justify-content: start; */
  margin: 10px auto 0 auto;
}

.footer-address-block {
  display: flex;
  /*   box-sizing: border-box; */
  /*  height: 83px;
  width: 1170px;*/
  background-color: #f4f7f6;
}

.articles-socials {
  display: flex;
  box-sizing: border-box;
  height: 83px;
  /*width: 367px;*/
  margin: 0 453px 0 479px;
}
.socials {
  display: inline-flex;
  margin: auto;
  padding: 0;
}

.social-item {
  display: flex;
  box-sizing: border-box;
  /*   height: 22px;
  width: 22px; */
}

.social-twitter a {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-pinterest a {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-facebook a {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-instagram a {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-tumblr a {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.socials li:nth-child(n + 2) {
  margin-left: 26px;
}

.copyright-block {
  display: flex;
  box-sizing: border-box;
  /*width: 367px;*/
  margin: 70px 471px 33px 479px;
  justify-content: center;
}

.copyright-block a {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  color: #999999;
  padding: 0;
}
