 body {
  margin: 0;
  font-family: Open Sans, Arial, san-serif;
  overflow-x: hidden;
}

body::after {
  content: url(https://github.com/netology-code/html-2-diploma/raw/master/sources/NOEMI_Modern.jpg);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

body {
  background-color: white;
  margin: 0;
  font-family: OpenSans;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.welcome {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding-bottom: 128px;
}

.welcome::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.menu-header {
  display: flex;
  width: 1170px;
  position: relative;
  z-index: 999;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}
.noemi-logo {
  width: 179px;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu-list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 38px;
}

a {
  text-decoration: none;
}

.welcome a {
  color: white;
}

.welcome-description {
  margin-left: auto;
  margin-right: auto;
  width: 735px;
  position: relative;
  z-index: 999;
  padding-top: 104px;
  text-align: center;
}

.welcome-description h1 {
  margin: 0;
  font-weight: 700;
  color: #ffffff;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 73px;
}

main {
  margin-top: 56px;
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.news-column {
  width: 778px;
  margin-bottom: 58px;
}

.article {
  display: flex;
}

.news-column article:nth-child(n + 2) {
  margin-top: 56px;
}

.news-description {
  width: 367px;
  padding-left: 30px;
}

.article-type {
  flex-wrap: wrap;
  box-sizing: content-box;
  font-weight: 700;
  color: #b59f5b;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.article-type li {
  display: inline-flex;
  box-sizing: content-box;
  padding-right: 16px;
  margin: 0;
}

.article-type li a {
  font-weight: 700;
  color: #b59f5b;
  font-size: 14px;
}

.news-description h2 {
  margin: 0;
  line-height: 24px;
}
.news-description h2 a {
  font-weight: 700;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.date-author-article {
  display: flex;
  margin-top: 27px;
}

time {
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.date-author-article p {
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  margin: 0 0 0 15px;
}

.article-context p {
  font-size: 15px;
  color: #0f0d0e;
  margin: 48px 0 0 0;
}

.right-column {
  width: 272px;
  margin: 0 0 58px 120px;
}

.recent-posts-top-title {
  font-weight: 700;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 0 auto;
}

.title-label-column:after {
  content: "";
  background-color: #e1d9bd;
  display: flex;
  width: 66px;
  height: 3px;
  margin: 14px auto 6px auto;
}

.article-link {
  display: flex;
  align-items: top;
}

.article-link:nth-child(n + 2) {
  margin: 22px 0 0 0;
}

.article-link-image img {
  display: block;
  box-sizing: border-box;
  width: 70px;
  justify-content: start;
}

.article-link-content {
  flex-wrap: wrap;
  align-self: start;
  margin: 0 0 0 18px;
}

.article-link-content h3 {
  margin: 0;
  line-height: 13px;
}

.article-link-content h3 a {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.search-section {
  display: inline-flex;
  margin: 60px 0 0 0;
}

.search-field {
  box-sizing: border-box;
  border: 0;
  height: 48px;
  width: 223px;
  padding: 18px 20px 18px 20px;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #939594;
  background-color: #f4f7f6;
}

.search-field {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-button {
  height: 48px;
  width: 49px;
  border: 0;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
  cursor: pointer;
}

.search-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.subscribing-block {
  margin: 60px 0 0 0;
}

.subscribing-button-block {
  margin: 22px 0 0 0;
}

.subscribing-input {
  box-sizing: border-box;
  height: 48px;
  width: 272px;
  border: 0;
  padding: 18px 20px 18px 20px;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #939594;
  background-color: #f4f7f6;
}

.subscribing-button {
  height: 48px;
  width: 272px;
  border: 0;
  background-color: #b59f5b;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin: 18px 0 0 0;
  cursor: pointer;
}

.subscribing-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tags {
  margin: 55px 0 0 0;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.tags-list-item {
  padding: 6px 13px 6px 13px;
  margin-bottom: 5px;
  border: 1px solid #eeeeee;
}

.tags-list-item:nth-child(3n + 2) {
  margin-right: 12px;
  margin-left: 12px;
}

.tags-list-item a {
  color: black;
}

.tags-list li {
  cursor: pointer;
}

.categories-list {
  margin: 50px 0 0 0;
}

.categories-block {
  padding: 0;
  margin: 0;
}

.categories-list-item {
  display: flex;
  border-bottom: 0.5px solid #eeeeee;
}

.categories-list-item a {
  font-weight: 700;
  font-size: 14px;
  color: black;
  text-decoration: none;
  align-self: center;
  padding-left: 2px;
}

.categories-list-item span {
  font-weight: 700;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
  padding: 10px 0 19px 6px;
}

.footer-block {
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px auto 0 auto;
}

.footer-address-block {
  background-color: #f4f7f6;
}

.articles-socials {
  padding-top: 30px;
  padding-bottom: 30px;
}
.socials {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-twitter a {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-pinterest a {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-facebook a {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-instagram a {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.social-tumblr a {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.socials li:nth-child(n + 2) {
  margin-left: 26px;
}

.copyright-block {
  display: flex;
  box-sizing: border-box;
  margin: 70px 471px 33px 479px;
  justify-content: center;
}

.copyright-block a {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  color: #999999;
  padding: 0;
}
